<div *ngIf="!isChildRouteActive">
  <form
    [formGroup]="forgotPasswordForm"
    (ngSubmit)="onSubmitForgotPasswordForm()"
  >
    <fieldset>
      <legend style="text-align: center;">Forgot Password</legend>

      <label for="email">Email</label>
      <input
        type="text"
        id="email"
        placeholder="Enter your email address"
        name="email"
        formControlName="email"
      />
      @if(emailInvalid) {
      <div class="error-message">
        <p *ngIf="forgotPasswordForm.controls.email.hasError('email')">
          Please enter a valid email address
        </p>
        <p *ngIf="forgotPasswordForm.controls.email.hasError('required')">
          Email Address is required.
        </p>
      </div>
      }

      <div class="info-message">
        <p>
          Enter your email address and we'll send you a reset code to create a
          new password.
        </p>
      </div>
    </fieldset>

    <button type="submit">Send Reset Code</button>

    <p>
      Remember your password? <a routerLink="/sign-in">Back to Sign In</a>
    </p>
  </form>
</div>

<router-outlet></router-outlet>
