:host {
  border-radius: 10px;
  padding: 2.5rem;
  margin: 6rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

form {
  font-size: 24px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

fieldset,
.password-container {
  display: flex;
  flex-direction: column;
  border: none;
}

legend {
  font-size: 35px;
  font-weight: bold;
}
label {
  margin-top: 1rem;
  padding-bottom: 5px;
  font-size: 25px;
}

input {
  border-radius: 5px;
  padding: 0.3rem;
  margin-bottom: 0.3rem;
  font-size: 24px;
  border: 0.5px solid;
}

.signup-button {
  padding: 10px;
  font-size: 25px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.signup-button:hover {
  cursor: pointer;
}

input.ng-dirty.ng-touched.ng-invalid {
  border: 1px solid red;
}

.error-message {
  color: red;
  font-size: 20px;
  letter-spacing: 1px;
}
