<form [formGroup]="signupForm" (ngSubmit)="onSubmitSignupForm()">
  <fieldset>
    <legend>Sign Up</legend>

    <label for="username">Username</label>
    <input
      type="text"
      id="username"
      placeholder="Enter username..."
      name="username"
      formControlName="userName"
    />
    @if(usernameInvalid) {
    <div class="error-message">
      <p *ngIf="signupForm.controls.userName.hasError('minlength')">
        Username must be at least 4 characters long.
      </p>
      <p *ngIf="signupForm.controls.userName.hasError('required')">
        Username is required.
      </p>
    </div>
    }

    <label for="email">Email</label>
    <input
      type="text"
      id="email"
      placeholder="Enter email..."
      name="email"
      formControlName="email"
    />
    @if(emailInvalid) {
    <div class="error-message">
      <p *ngIf="signupForm.controls.email.hasError('emailTaken')">
        Email already exists. Please enter a different email.
      </p>
      <p *ngIf="signupForm.controls.email.hasError('email')">
        Please enter a valid Email Address.
      </p>
      <p *ngIf="signupForm.controls.email.hasError('required')">
        Email Address is required.
      </p>
    </div>
    }

    <div class="password-container" formGroupName="passwords">
      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        placeholder="Enter password..."
        name="password"
        formControlName="password"
      />
      @if(passwordInvalid) {
      <div class="error-message">
        <p
          *ngIf="
            signupForm.controls.passwords.controls.password.hasError(
              'minlength'
            )
          "
        >
          Password must be at least 4 character long.
        </p>
        <p
          *ngIf="
            signupForm.controls.passwords.controls.password.hasError('pattern')
          "
        >
          Password must contain at least a number and a special character.
        </p>
        <p
          *ngIf="
            signupForm.controls.passwords.controls.password.hasError('required')
          "
        >
          Password is required.
        </p>
      </div>
      }

      <label for="confirm-password">Confirm Password</label>
      <input
        type="password"
        id="confirm-password"
        placeholder="Confirm password..."
        name="confirm-password"
        formControlName="confirmPassword"
      />
      @if(confirmPasswordInvalid) {
      <p
        *ngIf="
          signupForm.controls.passwords.controls.confirmPassword.hasError(
            'minlength'
          )
        "
        class="error-message"
      >
        Password must be at least 4 character long.
      </p>
      <p
        *ngIf="
          signupForm.controls.passwords.controls.confirmPassword.hasError(
            'pattern'
          )
        "
        class="error-message"
      >
        Password must contain at least a number and a special character.
      </p>
      <p
        *ngIf="
          signupForm.controls.passwords.controls.confirmPassword.hasError(
            'required'
          )
        "
        class="error-message"
      >
        Please confirm your password.
      </p>
      <p
        *ngIf="signupForm.controls.passwords.hasError('passwordsDoesNotMatch')"
        class="error-message"
      >
        Password does not match.
      </p>
      }
    </div>
  </fieldset>

  <ng-hcaptcha formControlName="hcaptcha"></ng-hcaptcha>
  @if(hcaptchaInvalid) {
  <p class="error-message">Please complete the hCaptcha</p>
  <p *ngIf="signupForm.controls.hcaptcha.hasError('required')">
    Please complete the hCaptcha.
  </p>
  }

  <button class="signup-button" type="submit">Signup</button>
</form>

<div *ngIf="showErrorBox" [ngClass]="'popup-error'">
  Please fill in all the required fields.
</div>

<div *ngIf="showSuccessBox" [ngClass]="'popup-success'">
  Signed up successfully!
</div>