<div class="overview-container">
  <div class="overview-boxes">
    <ngx-charts-number-card
      [view]="[1100, 170]"
      [results]="numberCardData"
      [animations]="true"
      cardColor="#ececec"
      textColor="black"
      bandColor="#7b7b7b"
    >
    </ngx-charts-number-card>
  </div>

  <div class="charts-grid">
    <div class="chart-box">
      <h3>Performance Trend</h3>
      <ngx-charts-line-chart
        [view]="[550, 300]"
        [results]="lineChartData"
        [gradient]="false"
        [xAxis]="true"
        [yAxis]="true"
        [legend]="false"
        [showXAxisLabel]="true"
        [showYAxisLabel]="true"
        xAxisLabel="Tests"
        yAxisLabel="Scores"
        [autoScale]="true"
      >
      </ngx-charts-line-chart>
    </div>

    <div class="chart-box">
      <h3>Category Averages</h3>
      <ngx-charts-bar-vertical
        [view]="[550, 300]"
        [results]="barChartData"
        [gradient]="false"
        [xAxis]="true"
        [yAxis]="true"
        [legend]="false"
        [showXAxisLabel]="true"
        [showYAxisLabel]="true"
        xAxisLabel="Categories"
        yAxisLabel="Avg Score"
      >
      </ngx-charts-bar-vertical>
    </div>
  </div>
</div>